@import "tailwindcss";

:root {
  font-family: 'Plus Jakarta Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}